.main {
	display: flex;
	flex-flow: column nowrap;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.midcontent-container {
	display: flex;
	flex-flow: row nowrap;
	gap: 100px;
}

img {
	border-radius: 50%;
}

.images img {
	height: 100px;
}

span {
	display: inline-block;
	border-radius: 10%;
	background-color: lightcoral;
}

.in {
	background-color: lightgreen;
}